@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<EjsButton @onclick="IncrementCount" Content="Click me"></EjsButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
